Source: linux-rt
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 5), cpio, module-init-tools,
               kernel-wedge (>= 2.24ubuntu1), makedumpfile [amd64 i386],
               device-tree-compiler [powerpc], libelf-dev, binutils-dev,
               rsync, libdw-dev, dpkg (>= 1.16.0~ubuntu4)
Build-Conflicts: findutils (= 4.4.1-1ubuntu1)

Package: linux-rt-headers-3.10.0-6
Architecture: all
Section: devel
Priority: optional
Depends: ${misc:Depends}, coreutils | fileutils (>= 4.0)
Description: Header files related to Linux kernel version 3.10.0
 This package provides kernel header files for version 3.10.0, for sites
 that want the latest kernel headers. Please read
 /usr/share/doc/linux-rt-headers-3.10.0-6/debian.README.gz for detail

Package: kernel-image-3.10.0-6-generic-di
Package-Type: udeb
Provides: kernel-image
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: Linux kernel binary image for the Debian installer
 This package contains the kernel image for the Debian installer
 boot images. It does _not_ provide a usable kernel for your full
 Debian system.

Package: nic-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: nic-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di, virtio-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Network interface support

Package: nic-shared-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: nic-shared-modules
Depends: kernel-image-3.10.0-6-generic-di, crypto-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: nic shared modules
  This package contains modules which support nic modules

Package: serial-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: serial-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Serial port support

Package: ppp-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: ppp-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di, serial-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PPP (serial port) networking support

Package: pata-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: pata-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PATA support modules

Package: firewire-core-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: firewire-core-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Firewire (IEEE-1394) Support

Package: scsi-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: scsi-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: SCSI storage support

Package: plip-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: plip-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di, parport-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PLIP (parallel port) networking support

Package: floppy-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: floppy-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Floppy driver support

Package: fat-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: fat-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: FAT filesystem support
 This includes Windows FAT and VFAT support.

Package: nfs-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: nfs-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: NFS filesystem drivers
 Includes the NFS client driver, and supporting modules.

Package: md-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: md-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Multi-device support (raid, device-mapper, lvm)

Package: multipath-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: multipath-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: DM-Multipath support
  This package contains modules for device-mapper multipath support.

Package: usb-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: usb-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Core USB support

Package: pcmcia-storage-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: pcmcia-storage-modules
Depends: kernel-image-3.10.0-6-generic-di, scsi-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PCMCIA storage support

Package: fb-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: fb-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Framebuffer modules

Package: input-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: input-modules
Depends: kernel-image-3.10.0-6-generic-di, usb-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Support for various input methods

Package: mouse-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: mouse-modules
Depends: kernel-image-3.10.0-6-generic-di, input-modules-3.10.0-6-generic-di, usb-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: Mouse support
 This package contains mouse drivers for the Linux kernel.

Package: irda-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: irda-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Support for Infrared protocols

Package: parport-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: parport-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Parallel port support

Package: nic-pcmcia-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: nic-pcmcia-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di, nic-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PCMCIA network interface support

Package: pcmcia-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: pcmcia-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: PCMCIA Modules

Package: nic-usb-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: nic-usb-modules
Depends: kernel-image-3.10.0-6-generic-di, nic-shared-modules-3.10.0-6-generic-di, usb-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: USB network interface support

Package: sata-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: sata-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: SATA storage support

Package: crypto-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: crypto-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: crypto modules
 This package contains crypto modules.

Package: squashfs-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: squashfs-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: squashfs modules
 This package contains squashfs modules.

Package: speakup-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: speakup-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: speakup modules
 This package contains speakup modules.

Package: virtio-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: virtio-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: VirtIO Modules
 Includes modules for VirtIO (virtual machine, generally kvm guests)

Package: fs-core-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: fs-core-modules, jfs-modules, reiserfs-modules, xfs-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Base filesystem modules
 This includes jfs, reiserfs and xfs.

Package: fs-secondary-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: fs-secondary-modules, ntfs-modules, hfs-modules
Depends: kernel-image-3.10.0-6-generic-di, fat-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Extra filesystem modules
 This includes support for Windows NTFS and MacOS HFS/HFSPlus

Package: storage-core-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: storage-core-modules, loop-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Core storage support
 Includes core SCSI, LibATA, USB-Storage. Also includes related block
 devices for CD, Disk and Tape medium (and IDE Floppy).

Package: block-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: block-modules, nbd-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di, parport-modules-3.10.0-6-generic-di, virtio-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Block storage devices
 This package contains the block storage devices, including DAC960 and
 paraide.

Package: message-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: message-modules
Depends: kernel-image-3.10.0-6-generic-di, storage-core-modules-3.10.0-6-generic-di, scsi-modules-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: Fusion and i2o storage modules
 This package containes the fusion and i2o storage modules.

Package: vlan-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: vlan-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: extra
Description: vlan modules
 This package contains vlan (8021.Q) modules.

Package: ipmi-modules-3.10.0-6-generic-di
Package-Type: udeb
Provides: ipmi-modules
Depends: kernel-image-3.10.0-6-generic-di
Architecture: amd64
Kernel-Version: 3.10.0-6-generic
Section: debian-installer
Priority: standard
Description: ipmi modules
